<body>
<div class="container">
<%= form_for @comment do |f| %>
    <div>
        <%= f.text_area :body, required: true   %>
    </div>
    <%= hidden_field_tag "comment[post_id]", params[:id] %>
    <%= f.submit %>
<%end %>
</div>
</body>