<div class="container">
  <%= form_for @post do |f| %>
    <div >
      <%= f.text_area :body, required: true,class:"input-field col s12" %>
    </div>
    <div>
      <%= f.file_field :image %>
    </div>
    <%= f.submit %>
  <% end %>
</div>
