<div class="container">
  <%= render partial: 'comments', locals: { post: @post } %>
  <div>
    <% if current_user.id == @post.user.id %>
      <%= link_to 'Delete Post', post_path(@post), method: :delete %>
    <% end %>
  </div>
  <%= render partial: 'comments/form' %>
  <% if user_signed_in? %>
    <div class="btn-floating indigo lighten-2 pulse right ">
      <i class="material-icons circle">add</i>
    </div>
  <% end %>
</div>
